/* generic css */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: white;
    color: black;
    font-family: sans-serif;
}

.boxed {
    max-width: 1200px;
    margin: 0 auto;
}

.flex-container {
    display: flex;
}

.element-spacing {}

.bg-gray {
    background-color: lightgray;
}

/* generic css end */

header {
    background: #3C60E0;
    padding-top: 1em;
}

.header-container {
    min-height: 50px;
}

.header-column-logo {
    width: 20%;
}

.header-column-links {
    width: 60%;
    justify-content: center;
    color: white;
}

.header-column-login {
    width: 20%;
    justify-content: flex-end;
}


/* buttons */
.small-button-style {
    padding: 8px;
    background-color: white;
    border-color: transparent;
    border-radius: 20px;
}

.big-button-style-white {
    padding: 15px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: white;
    border-color: transparent;
    border-radius: 30px;
    font-size: 20px;
}

.big-button-style-black {
    padding: 15px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: #23272A;
    color: white;
    border-color: transparent;
    border-radius: 30px;
    font-size: 20px;
}

/* buttons end */

.header-column-logo,
.header-column-links,
.header-column-login {
    align-items: center;
}

.jumbotron {
    justify-content: center;
    margin-top: 1em;
    background-image: url("/img/jumbo.png");
    background-size: 100%;
    background-repeat: no-repeat;
}

.jumbotron-container {
    justify-content: center;
    min-height: 630px;
    padding: 1em 0;

}

.jumbotron-content {
    display: flex;
    width: 75%;
    flex-direction: column;
    align-items: center;
}

.main-title {
    display: flex;
    color: white;
    font-size: 58px;
    margin-top: 90px;
    margin-bottom: 30px;
}

.sub-title {
    color: white;
    font-size: 20px;
    text-align: center;
    line-height: 150%;
    margin-bottom: 20px;
}

.section-titles {
    font-size: 45px;
}

.section-paragraph {
    margin-top: 30px;
    font-size: 20px;
    line-height: 150%;
}

.section-row {
    padding: 10em 0;
    min-height: 200px;
}

.big-column {
    width: 60%;
}

.small-column {
    width: 30%;
}

.single-column {
    background: green;
    width: 100%;
}